@model IEnumerable<YazılımGercekleme.Models.Sport>

@{
    ViewData["Title"] = "HomePage";
}

<h1>HomePage</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AthleteName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AthleteName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AthleteId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AthleteId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AthleteId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>